@import './reset.scss';
@import './mixins.scss';
@import '~ant-design-vue/dist/antd.css';

.fl {
    float: left;
}
.fr {
    float: right;
}
.clearfix:after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    visibility: hidden;
}

.clearfix {
    zoom: 1;
}